.DS_Store
config/*.sphinx.conf
config/database.yml
config/deploy_private.rb
config/settings.yml
config/sphinx.yml
db/*.db
db/*.sqlite3
db/sphinx
doc/*
log/*
tmp/*
public/cache/*
public/assets/*
public/stylesheets/*.css
public/images/000/*
test/output/*
webrat*
assets/*
deploy/deploy_private.rb
deploy/slice_private.rb
deploy/files/dna.json.cap
deploy/files/cookbooks.tar.gz
deploy/recipes/slice_private.rb
deploy/recipes/deploy_private.rb
