%h1=@page.tagline
.main
  .half_left
    = @page.text
  .half_right
    .map=google_map(@contact_info.street, @contact_info.city, @contact_info.state, @contact_info.zip)
.sub=render :partial => "schedule"